/node_modules
/public/hot
/public/storage
/public/js/*
/public/css/plantilla.css
/storage/*.key
/storage/app/public
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
